<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Vue To Do List</title>
    </head>
    <body>
        <div id = "app" class="container">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>

            <div class="new-todo">

                <input @keypress.enter="addTask" type="text" placeholder="Nuovo Todo" v-model='newTask'>

                <button @click="addTask" class="button">Aggiungi</button>

            </div>
            

            <div class="container-list">
                <ul v-if="tasks.length > 0">
                    <li v-for="(task, index) in tasks">
                        {{ task }}
                        <i @click="removeTask(index)" class="fas fa-times"></i>
                    </li>
                </ul>

                <h2 v-else>Non ci sono Todos</h2>
            </div>
            <hr>
            
        </div>

        <script src="js/main.js"></script>
    </body>
</html>